<h1>Edit Your Profile</h1>
<% if @user.errors.any? %>
  <ol>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ol>
<% end %>

<%= form_for(@current_user, :html => {multipart: true}) do |f| %>

  <div class="form-group">
  <%= f.label :image %>
  <%= f.cl_image_upload :image, :class => 'form-control' %>
  </div>

  <div class="form-group">
  <%= f.label :first_name %>
  <%= f.text_field :first_name, :class => 'form-control' %>
  </div>

  <div class="form-group">
  <%= f.label :last_name %>
  <%= f.text_field :last_name, :class => 'form-control' %>
  </div>

  <div class="form-group">
  <%= f.label :birthdate %>
  <%= f.date_field :birthdate, :class => 'form-control' %>
  </div>

  <div class="form-group">
  <%= f.label :current_city%>
  <%= f.text_field :current_city, :class => 'form-control' %>
  </div>

  <div class="form-group">
  <%= f.label :fav_destination %>
  <%= f.text_field :fav_destination, :class => 'form-control' %>
  </div>

  <div class="form-group">
  <%= f.label :about_me %>
  <%= f.text_area :about_me, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, :autofocus => true, :required => true, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, :class => 'form-control' %>
  </div>
  <!-- <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :class => 'form-control' %>
  </div> -->

  <%= f.submit %>
<% end %>
