<script>
  var destinationCoordinates = <%== @user.destination_coordinates.to_json %>;
</script>

<div class = 'row profile_heading'>
  <div class="col-md-4 destination_row profile_pic">
      <%= cl_image_tag @user.image, :width=>200, :height=>200, :gravity=>"auto", :class => 'thumb' %>
  </div>
  <div class="col-md-8 destination_row">
    <h1 class="welcome_message"><%= @user.first_name %>'s Travels!</h1>
    <p id="aboutme"><%= @user.about_me %></p>
  </div>

</div>
<div style='width: 100%;'>
  <div id="multi_markers" style='width:100%; height: 400px;'>
  </div>
</div>
<div class = 'row'>
<% @destinations.each do |destination| %>
  <div class="col-md-3 destination_row">
    <a href="<%=user_destination_path(@user, destination)%>">
    <div class="destination_thumb" style="background-image: url(<%= destination.photos.first.image if destination.photos.any? %>); background-color: rgba(148, 197, 204, 0.5); background-size: cover; ">
      <%= link_to destination.city, user_destination_path(@user, destination)%> <%= destination.country%>
    </div>
  </a>
  </div>
<%end %>
</div>
<div>
